<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="currentEnviorment" value="Test" />
    <add key="Test_Url" value="https://www.service.nsw.gov.au/" />
    <add key="Uat_Url" value="https://www.uat-service.nsw.gov.au/" />
    <add key="DefaultTimeOutInSeconds" value="10" />
    <add key="ScreenShotFolder" value="ErrorScreenShot" />
    <add key="TakeScreenShotOnError" value="true" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>